### 17.3.1)

|                     	| qualitatives Merkmal 	| quantitatives Merkmal 	|
|---------------------	|----------------------	|-----------------------	|
| KÃ¶rpergewicht       	| 0                     	| 1                      	|
| Autobahnbezeichnung 	| 1                     	| 0                      	|
| Lieblingsfarbe      	| 1                     	| 0                      	|
| Taschengeld         	| 0                     	| 1                      	|
| Hausnummer          	| 0                     	| 1                      	|

### 17.3.2)

| country     	| beer_servings 	| spirit_servings 	| wine_servings 	| total_litres_of_pure_alcohol 	| continent 	|
|-------------	|---------------	|-----------------	|---------------	|------------------------------	|-----------	|
| Afghanistan 	| 0             	| 0               	| 0             	| 0.0                          	| AS        	|
| Albania     	| 89            	| 132             	| 54            	| 4.9                          	| EU        	|
| Algeria     	| 25            	| 0               	| 14            	| 0.7                          	| AF        	|
| Andorra     	| 245           	| 138             	| 312           	| 12.4                         	| EU        	|
| Angola      	| 217           	| 57              	| 45            	| 5.9                          	| AF        	|

|                     	| qualitatives Merkmal 	| quantitatives Merkmal 	|
|---------------------	|----------------------	|-----------------------	|
| beer_servings       	| 0                     	| 1                      	|
| spirit_servings 	    | 0                     	| 1                      	|
| wine_servings      	| 0                     	| 1                      	|
| total_litres_of_pure_alcohol         	| 0                     	| 1                      	|
| continent          	| 1                     	| 0                      	|

In [1]:
import pandas as pd

diabetes_db = pd.read_csv('diabetes.csv')
diabetes_db.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [2]:
import numpy as np

categories = ['A', 'B', 'C']
diabetes_db['Demo'] = pd.Categorical(np.random.choice(categories, diabetes_db.shape[0]))

In [3]:
diabetes_db.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Demo
0,6,148,72,35,0,33.6,0.627,50,1,A
1,1,85,66,29,0,26.6,0.351,31,0,A
2,8,183,64,0,0,23.3,0.672,32,1,B
3,1,89,66,23,94,28.1,0.167,21,0,A
4,0,137,40,35,168,43.1,2.288,33,1,A

In [4]:
diabetes_db['Demo'].describe()

count     768
unique      3
top         B
freq      260
Name: Demo, dtype: object

In [5]:
diabetes_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
 9   Demo                      768 non-null    category
dtypes: category(1), float64(2), int64(7)
memory usage: 55.0 KB